.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// .content-wrapper {
//   display: grid;
//   grid-template-columns: 1fr 3fr;

//   .left-panel {
//     margin: 1rem;
//     padding: 1rem;
//     border: 1px solid lightgray;
//   }
  
//   .right-panel {
//     margin: 1rem;
//     padding: 1rem;
//     border: 1px solid lightgray;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;

//     .product img{

//       &:hover {
//         transform: scale(1.1)
//       }
//     }
//   }
// }

.top-bar {
  height: 40px;
  color: white;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);

  display: flex;
  justify-content: space-between;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  

  .left-panel {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid lightgray;
    flex-basis: 20%;
  }
  
  .right-panel {
    flex-basis: 80%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid lightgray;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    .product {
      position: relative;

    }

    .product img{

      &:hover {
        transform: scale(1.1)
      }
    }
  }
}


